<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header class = "main_header">
        <navbar class = "header_nav">
            <ul class = "nav_items">
                <li class ="nav--btn"><a  class="active" href="/">Home</a></li>
                <li class = "nav--btn"><a href="/add-user">Add Users</a></li>
                <li class ="nav--btn"><a href="/">Users List</a></li>
            </ul>
        </navbar>
    </header>

    <main>
       <h1>USERS</h1>
       <p>List of Users</p>
    </main>
</body>
</html>