doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pgTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main_header 
            navbar.header_nav
                ul.nav_items 
                    li.nav--btn 
                        a.active(href="/") Home
                    li.nav--btn 
                        a(href="/add-user") Add Users
                    li.nav--btn 
                        a(href="/list") Users List

        main


        
        
        